<div class="container">
  <h2 class="text-center my-4">Angular CRUD Application</h2>
  <div class="form">
    <form [formGroup]="SubmitForm" (ngSubmit)="OnSubmit()">
      <div class="fields">
        <label for="Name">Name:</label>
        <input type="text" class="form-control" formControlName="Name">
      </div>
      <div class="fields">
        <label for="Name">Email:</label>
        <input type="email" class="form-control" formControlName="Email">
      </div>
      <div class="fields">
        <label for="Name">Salary:</label>
        <input type="number" class="form-control" formControlName="Salary">
      </div>
      <div class="row text-center my-4 px-5">
        <input type="submit" value="Submit" class="btn btn-success">
      </div>
    </form>
  </div>
  <div class="display">
    <div class="row mt-5 text-danger">
      <div class="col-3 border border-secondary p-2">Name</div>
      <div class="col-3 border border-secondary p-2">Email</div>
      <div class="col-3 border border-secondary p-2">Salary</div>
      <div class="col-3 border border-secondary p-2">Actions</div>
    </div>
    <div class="row" *ngFor="let item of Data">
      <div class="col-3 border border-secondary p-2">{{item.Name}}</div>
      <div class="col-3 border border-secondary p-2">{{item.Email}}</div>
      <div class="col-3 border border-secondary p-2">{{item.Salary}}</div>
      <div class="col-3 border border-secondary p-2">
        <a class="btn btn-primary mx-2" (click)="onEdit(item.Email)">Edit</a>
        <a class="btn btn-danger" (click)="onDelete(item.Email)">Delete</a>
      </div>
    </div>
  </div>
</div>